<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="page" content="home page">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/svg+xml" href="/photos/camera.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="developer" content="robert sims" />
    <meta name="app" content="keep.memories.com" />
    <meta name="technologies" content="MERN" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet+Guides&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>keep.memories.com</title>
</head>
<body>
    <section class="home-page">
        <img src="/photos/camera.jpg" alt="">
        <h1>Welcome to keep.memories.com api</h1>
        <a href="https://keep-memories.netlify.app" target="_blank">Keep.memories.com</a>
    </section>
</body>
</html>